%h1 
	Listing Tasks for 
	=@user.first_name

- @projects.each do |project|
	= link_to project.name, project
	%table
		%thead
			%tr
				%th
				%th Description
				%th Due Date
			%tbody
				- project.tasks.select {|t| t.owner_id == @user.id}.each do |task|
					%tr
					%td= button_to "Mark as #{task.other_state}", update_state_project_task_path(project_id: project.id, id: task.id), method: :put
					%td= task.description
					%td= task.due_at
	%br/