%p#notice= notice
%h1 Listing Projects

- @projects.each do |project|
  = link_to project.name, project
  = link_to "Create Task", new_project_task_path(project)
  = link_to "Edit Project", edit_project_path(project)
  %table
    %thead
      %tr
        %th
        %th Description
        %th Due Date
        %th{:colspan => "3"}
      %tbody
        - project.tasks.each do |task|
          %tr
          %td= button_to "Mark as #{task.other_state}", update_state_project_task_path(id: task.id, project_id: project.id), method: :put
          %td= task.description
          %td= task.due_at
  %br/
= link_to 'New Project', new_project_path
