!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title StatusBoard
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
/   %body
/     - if user_signed_in?
/       %ul.nav.pull-right
/         %ul.nav.navbar-nav
/           %li{:class => 'dropdown'}
/             %a{:href =>'#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown' }
/               = current_user.email
/               %b{:class => 'caret'}
/             %ul{:class => 'dropdown-menu'}
/               %li= link_to 'Logout', destroy_user_session_path, :method => :delete
/               %li= link_to 'My Tasks', current_user
/               %li= link_to 'Projects', projects_path

%nav.navbar.navbar-toggleable-md.fixed-top
  .container
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarsExampleDefault", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarsExampleDefault", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    %a.navbar-brand{:href => "#"} Voyage
    .collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item.active
          %a.nav-link.nav-link-shift
            =link_to 'My Tasks', current_user
            /%span.sr-only (current)
        %li.nav-item.active
          %a.nav-link.nav-link-shift
            =link_to 'Projects', projects_path
            %span.sr-only (current)
        %li.nav-item.active
          %a.nav-link.nav-link-shift{:href => "archive.html"}
            Archive
            %span.sr-only (current)
      %form.form-inline.my-2.my-lg-0
        .nav-item.active
          %a.nav-link
            =link_to 'Logout', destroy_user_session_path, :method => :delete
            %span.sr-only (current)

%p.notice= notice
%p.alert= alert
= yield


/ Placed at the end of the document so the pages load faster
%script{:crossorigin => "anonymous", :integrity => "sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n", :src => "https://code.jquery.com/jquery-3.1.1.slim.min.js"}
:javascript
  window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
%script{:crossorigin => "anonymous", :integrity => "sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb", :src => "https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"}
%script{:src => "js/bootstrap.min.js"}
/ IE10 viewport hack for Surface/desktop Windows 8 bug
%script{:src => "../../assets/js/ie10-viewport-bug-workaround.js"}